body {
  margin:0;
  font-family:Arial;
  color:white;
  background:#020617;
  overflow-x:hidden;
}

/* Animated BG */
body::before, body::after{
  content:"";
  position:fixed;
  width:600px;
  height:600px;
  border-radius:50%;
  filter:blur(120px);
  z-index:-1;
}

body::before{
  background:#7c3aed;
  top:-200px;
  left:-200px;
  animation:move1 12s infinite alternate;
}

body::after{
  background:#2563eb;
  bottom:-200px;
  right:-200px;
  animation:move2 14s infinite alternate;
}

@keyframes move1{
  100%{transform:translate(200px,150px);}
}
@keyframes move2{
  100%{transform:translate(-150px,-120px);}
}

/* NAV */
nav{
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:rgba(0,0,0,0.7);
}

/* SECTIONS */
section{
  padding:120px 20px;
  text-align:center;
}

/* GRID */
.grid{
  display:flex;
  gap:20px;
  justify-content:center;
}

/* CARD */
.card{
  background:#111;
  padding:20px;
  cursor:pointer;
  transition:.3s;
}
.card:hover{
  transform:scale(1.05);
}

/* BUTTON */
.btn{
  background:#22c55e;
  padding:12px 20px;
  color:black;
  text-decoration:none;
}

/* MODAL */
#modal,#serviceModal,#popup{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.8);
}

.modal-box,.popup-box{
  background:#020617;
  margin:20% auto;
  padding:20px;
  width:300px;
  text-align:center;
}

/* STICKY */
.sticky{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#22c55e;
  padding:10px;
}

/* FADE */
.fade{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}
.fade.show{
  opacity:1;
  transform:translateY(0);
}

/* LOADER */
#loader{
  position:fixed;
  width:100%;
  height:100vh;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
}
