body{
margin:0;
font-family:Arial;
background:#020617;
color:white;
padding-top:70px;
}

nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:15px;
background:rgba(0,0,0,0.7);
}

section{
padding:100px 20px;
text-align:center;
}

.grid{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#111;
padding:20px;
border-radius:10px;
}

.featured{
border:2px solid #22c55e;
}

.btn{
background:#22c55e;
padding:10px 20px;
color:black;
border:none;
cursor:pointer;
}

#popup{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.popup-box{
background:#020617;
padding:20px;
}

#notif{
position:fixed;
bottom:20px;
left:20px;
background:#111;
padding:10px;
display:none;
}

#sticky{
position:fixed;
bottom:20px;
right:20px;
background:#22c55e;
padding:10px;
color:black;
}
